@import "variables";
@import "mixins";

.chat {
  position: relative;
  max-width: 980px;
  width: 100%;
  height: 883px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;

  &__divider {
    border: none;
    background-color: #DBDBDB;
    color: #DBDBDB;
    height: 1px;
  }

  &__field {

    max-width: 651px;
    width: 100%;
    height: 757px;
    background-image: url("../assets/background.png");
    box-shadow: -8px 14px 17px -5px rgba(34, 60, 80, 0.4);

    &__correspondence {
      max-height: 530px;
      overflow-y: auto;
    }
  }


  &__field__correspondence__left_message_block {

    overflow-y: hidden;
    padding: 35px 0 0 18px;
    display: flex;
    flex-direction: row;
  }

  &__field__correspondence__right_message_block {
    overflow-y: hidden;
    padding: 20px 18px 0 0;
    display: flex;
    flex-direction: row-reverse;
  }

  &__field__correspondence__right_message_block__message,
  &__field__correspondence__left_message_block__message {
    @include chatMessage();
  }


  &__field__correspondence__left_message_block__avatar,
  &__field__correspondence__right_message_block__avatar {
    width: 47px;
    height: 47px;
    background-image: url("../assets/avatar.png");
  }

  &__field__correspondence__left_message_block__message__text,
  &__field__correspondence__right_message_block__message__text{
    margin: 15px 15px 7px 15px;
  }

  &__field__msg_field {
    width: 100%;
    height: 227px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  &__field__msg_field__textarea {
    max-width: 590px;
    width: 100%;
    height: 129px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    padding: 10px;
    line-height: 19px;
    color: #696969;
    resize: none;
  }


  &__field__msg_field__button {
    height: 41px;
    max-width: 144px;
    width: 100%;
    border-radius: 21px;
    background: #0F54B9;
    color: white;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(15, 84, 185, 0.3);
  }

  &__field__correspondence__line_block {

    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: black;
    margin-top: 8px;

    &:before, &:after {
      content: "";
      flex-grow: 1;
      background: #DBDBDB;
      height: 1px;
      font-size: 0;
      line-height: 0;
      margin: 20px 20px;
    }
  }

}
