@import "variables";
@import "mixins";

.header,
.footer {
  @include createHeaderFooter();
}

.main {
  width: 100%;
  height: calc(100% - 180px);
  background: white;
}

@media (min-width: 480px) {
  .container {
    width: 100%;
    height: $max-height;
    max-width: $max-width;
    max-height: $max-height;
  }

  .main__container {

    background: white;
    display: grid;
    grid-template-areas:
            "greyGroup greyGroup greyGroup"
            "greyGroup greyGroup greyGroup"
            "staff unlight introjection"
            "conformism conformism ouryellowstaff"
            "modern form form"
            "ship form form"
            "leader but but"
            "coolgenius point vector";

    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr; //костыль?
    padding: 10px 12px 10px 13px;

    &__grey_group {
      grid-area: greyGroup;
      display: grid;
      grid-template-areas:
              "genius feeling"
              "genius moreno";

      grid-template-columns: 2.03fr 1fr;  //костыль?
      grid-gap: 10px;
      &__genius {
        @include createTile(492px, #A2A9B7, genius);
        color: white;
        &__text {
          text-align: center;
          font-size: 18.1121px;
          line-height: 26px;
          padding: 30px 46px 53px 25px;
        }
      }
      &__moreno {
        @include createTile(241px, #A2A9B7, moreno);
        color: white;
      }
      &__feeling {
        @include createTile(241px, #A2A9B7, feeling);
        color: white;
      }
    }

    &__staff {
      @include createTile(155px, #E8EBED, staff);
    }
    &__unlight {
      @include createTile(155px, #E8EBED, unlight);
    }
    &__conformism {
      @include createTile(155px, #E8EBED, conformism);

    }

    &__our_yellow_staff {
      @include createTile(155px, #FEBF26, ouryellowstaff);
    }

    &__introjection {
      @include createTile(155px, #90BCE8, introjection);
    }
    &__modern {
      @include createTile(241px, #E3EBD3, modern);
    }
    &__ship {
      height: 241px;
      background-image: url("../assets/ship.png");
      background-size: 100% 100%;
      grid-area: ship;
      color: white;
    }
    &__form {
      @include createTile(492px, #E3EBD3, form);

      &__wrapper {
        margin: 15px;
      }
      &__wrapper__list {
        list-style-type: none;
        line-height: 19px;
      }

      &__wrapper__list__item {
        margin-bottom: 2em;
      }

      &__wrapper__list__item__span_left {

      }

      &__wrapper__list__item__span_right {
        float: right;
      }

    }
    &__leader {

      @include createTile(155px, #FFAA87, leader);
    }
    &__but {
      @include createTile(155px, #FFAA87, but);
    }
    &__cool_genius {
      @include createTile(155px, #F55E62, coolgenius);
    }
    &__point {
      @include createTile(155px, #FFAA87, point);
    }
    &__vector {
      @include createTile(155px, #C7ABD4, vector);
    }

  }

}

@media (max-width: 480px) {
  .container {
    min-width: $min-width;
    min-height: $min-height;
    width: 100%;
    height: $min-height - 180px;
  }

  .main__container {

    display: grid;
    grid-template-areas: "staff unlight"
                          "conformism conformism"
                          "introjection ouryellowstaff"
                          "greyGroup greyGroup"
                          "greyGroup greyGroup"
                          "but but"
                          "point vector"
                          "leader coolgenius";

    grid-gap: 10px;
    grid-template-columns: 48.9% 48.9%; //костыль?
    padding: 10px 0 10px 0;

    &__grey_group {
      grid-area: greyGroup;
      display: grid;
      grid-template-areas:
              "genius feeling"
              "genius moreno";

      grid-template-columns: 2.1fr 1fr; //костыль?
      grid-gap: 10px;
      &__genius {
        background: #A2A9B7;
        height: 211px;
        grid-area: genius;
        color: white;
        overflow: scroll;
        &__text {
          text-align: center;
          font-size: 18.1121px;
          line-height: 26px;
          padding: 19.78px 2.69px 2.61px 9.9px;
        }

      }
      &__moreno {
        @include createTile(100.5px, #A2A9B7, moreno);
        color: white;
      }
      &__feeling {
        @include createTile(100.5px, #A2A9B7, feeling);
        color: white;
      }
    }

    &__genius {

      @include createTile(210.98px, #A2A9B7, genius);
      color: white;
      &__text {
        text-align: center;
        font-size: 18px;
        line-height: 26px;
        padding: 30px 46px 53px 25px;
      }
    }
    &__moreno {
      @include createTile(102px, #A2A9B7, moreno);
      color: white;

    }
    &__feeling {

      @include createTile(102px, #A2A9B7, feeling);
      color: white;
    }

    &__staff {
      @include createTile(155px, #E8EBED, staff);
    }
    &__unlight {
      @include createTile(155px, #E8EBED, unlight);
    }
    &__conformism {
      @include createTile(155px, #E8EBED, conformism);

    }

    &__our_yellow_staff {
      @include createTile(155px, #FEBF26, ouryellowstaff);
    }

    &__introjection {
      @include createTile(155px, #90BCE8, introjection);
    }
    &__modern {
      display: none;
      &__text {
        display: none;
      }
    }
    &__ship {
      display: none;
      &__text {
        display: none;
      }
    }
    &__form {
      display: none;
    }

    &__leader {
      @include createTile(155px, #FFAA87, leader);
    }
    &__but {
      @include createTile(155px, #FFAA87, but);
    }
    &__cool_genius {
      @include createTile(155px, #F55E62, coolgenius);
    }
    &__point {
      @include createTile(155px, #FFAA87, point);
    }
    &__vector {
      @include createTile(155px, #C7ABD4, vector);
    }

  }
}
